@scope (.CodeBlock) {
  :scope {
    pointer-events: fill;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: min(30em, 100%);
    position: relative;
    background: var(--background, var(--secondary));
    color: var(--color, var(--tertiary));
    font-weight: 600;
    padding: 0.5rem 1rem;
    border: 0.125rem solid var(--border, var(--primary));
    cursor: copy;

    &:has(+ .CodeBlock) {
      border-bottom-style: dashed;
    }

    .CodeBlock + & {
      border-top: none;
    }

    .cmd-text {
      z-index: 2;
      position: relative;
      width: fit-content;
      max-width: calc(100% - 40px);
      cursor: text;
    }

    .cmd-managers {
      display: inline-grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      width: 100%;

      > .cmd-pair {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
      }

      &.enhanced {
        grid-template-rows: unset;

        grid-area: 1 / 1;

        > .cmd-pair:has(.cmd-group[inert]) {
          display: none;
        }
      }
    }
  }

  &:hover {
    background: var(--bg-hover, var(--primary));
  }

  &:is(:focus-within, :focus) .CopyButton.render {
    z-index: 1;
  }

  &:active .CopyButton.render {
    scale: 1.2;
    rotate: -360deg;
    transition:
      rotate 1.2s 0.3s var(--brutal-transition),
      scale 0.1s ease-in-out;
  }
}
