@media (prefers-reduced-motion: reduce) {
  *,
  * *,
  *::after,
  *::before {
    transition: unset !important;
    animation: unset !important;
  }
  .seeker {
    display: none !important;
  }
}

html {
  scroll-behavior: smooth;
}

/* because you can't unset this... */
@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}

@font-face {
  font-family: Cabin;
  src: url(../assets/fonts/Cabin.ttf);
}

@font-face {
  font-family: Archivo;
  src: url(../assets/fonts/Archivo.ttf);
}

@font-face {
  font-family: Martian;
  src: url(../assets/fonts/MartianMono.ttf);
}

@font-face {
  font-family: Sour;
  src: url(../assets/fonts/SourGummy.ttf);
}

@font-face {
  font-family: Space;
  src: url(../assets/fonts/SpaceMono-Bold.ttf);
}

@font-face {
  font-family: Tauri;
  src: url(../assets/fonts/Tauri-Regular.ttf);
}

/* MARK: CSS reset 
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 1rem;
}

html,
body {
  height: 100%;
  position: relative;
}

*:not(input, select):focus-visible,
details:focus-within {
  outline: dashed 0.25rem var(--accent);
}

input, select {
  outline: none;
}

li {
  list-style-type: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* MARK: Theme
 */

body {
  /* Backburner transitions */
  --brutal-transition: cubic-bezier(0.7, 0, 0.3, 1);

  /* Theme */
  --white: hsl(43, 76%, 92%);

  --accent-light-30: hsl(15, 10%, 76%);
  --accent-light-20: hsl(17, 10%, 53%);
  --accent-light-10: hsl(17, 20%, 31%);
  --primary: hsl(18, 61%, 11%);
  --accent-dark-10: #1f0b05;
  --accent-dark-20: hsl(11, 85%, 3%);
  --accent-dark-30: hsl(0, 100%, 0%);

  --accent-light-30: hsl(20, 4%, 73%);
  --accent-light-20: hsl(20, 5%, 48%);
  --accent-light-10: hsl(19, 13%, 25%);
  --secondary: hsl(16, 60%, 5%);
  --accent-dark-10: hsl(9, 64%, 2%);
  --accent-dark-20: hsl(0, 50%, 1%);
  --accent-dark-30: hsl(0, 0%, 0%);

  --accent-light-30: hsl(43, 93%, 94%);
  --accent-light-20: hsl(44, 93%, 88%);
  --accent-light-10: hsl(44, 91%, 82%);
  --tertiary: hsl(44, 92%, 75%);
  --accent-dark-10: hsl(45, 33%, 51%);
  --accent-dark-20: hsl(44, 35%, 28%);
  --accent-dark-30: hsl(43, 47%, 9%);

  --accent-light-10: hsl(132, 93%, 82%);
  --accent-light-10: hsl(133, 93%, 79%);
  --accent-light-10: hsl(134, 92%, 75%);
  --accent: hsl(136, 92%, 72%);
  --accent-dark-10: hsl(136, 61%, 62%);
  --accent-dark-20: hsl(136, 42%, 53%);
  --accent-dark-30: hsl(136, 38%, 44%);

  /* font */
  --primary-font: Space, "Courier New", Courier;
  --secondary-font: Martian, Consolas, Menlo;
  --XXL: 11.625rem;
  --XL: 5rem;
  --LG: 3.25rem;
  --MD: 2rem;
  --SM: 1.5rem;
  --XS: 1.125rem;
  --XXS: 1rem;

  --em: clamp(var(--LG), 15.5vw, var(--XXL));

  /* Styling */
  background: var(--tertiary);
  color: var(--secondary);
  font-family: Martian;
}

span {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  background: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  display: inline-block;
}

/* MARK: Font sizes
 */
.huge {
  font-size: clamp(var(--LG), 13vw, var(--XXL));
}

.icon {
  z-index: 2;
  display: inline-block;
  font-family: Archivo, Arial, Helvetica, sans-serif;
  font-size: clamp(var(--MD), 5vw, var(--XL));
  white-space: nowrap;
}

.semi-bold {
  font-weight: 600;
}

.bg-brown {
  background: var(--primary);
  color: var(--tertiary);
}

.bg-black {
  background: var(--secondary);
  color: var(--tertiary);
}

.bg-yellow {
  background: var(--tertiary);
}

.bg-mint {
  background: var(--accent);
}

/* MARK: General utils
 */
.aside-heading,
.main-heading {
  position: relative;
  line-height: 1;
  width: fit-content;
}
.active {
  background: var(--tertiary);
  color: var(--primary);
}
.main-heading {
  color: var(--primary);
  font-family: Space, sans-serif;
  text-align: center;
}

.heading-label {
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  top: calc(36% - 1em);
  font-family: Tauri;
  font-size: clamp(var(--XXS), 2vw, var(--MD));
  right: clamp(-2rem, -3vw, -1rem);
}

.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}

.uppity {
  text-transform: uppercase;
}

.ff-p {
  font-family: var(--primary-font);
}

.ff-s {
  font-family: var(--secondary-font);
}
/* MARK: Selections
 */

::selection {
  color: var(--secondary);
  background: var(--accent);
}

/* in case of overlap */
.heading-label::selection,
footer *::selection,
.highlight-block::selection,
.highlight-block span::selection,
.anti-highlight-block::selection,
dl *::selection {
  color: var(--accent);
  background: var(--secondary);
}

/* MARK: Transitioning
 */

:root::view-transition {
  pointer-events: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* MARK: Scrollbar
  */

html {
  scrollbar-color: var(--accent) var(--secondary);
}

::-webkit-scrollbar {
  --white: #faf1db;
  --primary: #2d150b;
  --secondary: #140905;
  --tertiary: #fadb85;
  --accent: #76f999;
  padding: 2px;
  width: 12px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #2d150b; /* Light gray background */
}

::-webkit-scrollbar-track:hover{
  background: #2d150b;
}
/* Handle (thumb) */
::-webkit-scrollbar-thumb {
  background: #76f999; /* Dark gray thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #54B96F; /* Darker gray on hover */
  border: 4px solid transparent;
}

/* Handle on drag */
::-webkit-scrollbar-thumb:active {
  background: #459A5C; /* Even darker gray when clicked */
  border: 4px solid transparent;

}

/* Buttons (arrows) - Optional */
::-webkit-scrollbar-button {
  display: none;
}
