{% layout './layouts/layout.liquid' %}
{% block head %}
  <link rel="stylesheet" href="assets/styling/alt-portfolio.css">
{% endblock %}

{% block %}
  <header>
    <h1>PORTFOLIO</h1>
  </header>
  <main>
    <ul>
      {% for project in allProjects %}
        <li style="--sibling-index: 1">
          <a
            href="#{{project.slug}}"
            {% if forloop.index == 1 %}
            class="active"
            {% endif %}>{{ project.title | upcase }}</a>
        </li>
      {% endfor %}
    </ul>
  </main>
  <aside><img src="/assets/img/project-visuals/ara/ara-bg.webp" alt=""></aside>
{% endblock %}