{% render './partials/head.liquid' %}
<main>
<header>
  <h1 class="main-heading huge">ABOUT <span class="heading-label">MARCIN</span></h1>
</header>
  {% comment %} {% render './partials/about/about-me.liquid' %} {% endcomment %}
  {% comment %} {% render './partials/cards/daily-note.liquid' %} {% endcomment %}
</main>
<aside class="details bg-brown"> 
  <span class="aside-heading huge">↯<h2 class="heading-label">DETAILS</h2></span>
  <div class="spacing">
    <div class="details">
      <h3>GET IN TOUCH WITH ME</h3>
    <ul><li><a href="mailto:marcinm@live.nl" class="underlined">marcinm@live.nl</a></li></ul>
    <h3>CURRENTLY</h3>
    <ul>
      <li>OPEN TO WORK</li>
      <li>STUDENT AT <a href="HVA" class="highlight-block">HVA</a></li>
    </ul>
    </div>
  
 <nav><ul><li><a href="/portfolio">Portfolio</a></li><li><a href="/" class="active">About</a></li><li><a href="/journal">Journal</a></li></ul></nav>
</aside>
<nav class="bg-black footer-nav">
  <h2>SOCIALS</h2>
  <ul>
  <li><a href="">LINKEDIN</a></li>
  <li><a href="">GITHUB</a></li>
</ul>
</div>
</nav>
{% render './partials/footer.liquid' %}