{% layout './layouts/layout.liquid' %}
{% block head %}
{% endblock %}

{% block %}
  <header>
    <h1 class="main-heading">Welcome!</h1>
  </header>
  <main>
    {% comment %} {% render './partials/cards/daily-note.liquid' %} {% endcomment %}
    {% for file in dailyNotes reversed %}
      {% assign link = file | slice: 0, -3 %}
      {% render './partials/cards/daily-note.liquid'
        , title: path
        , link: link %}
    {% endfor %}
  </main>
{% endblock %}