{% layout './layouts/layout.liquid' %}
{% block head %}
{% endblock %}

{% block %}
  <header>
    <h1 class="main-heading">{{ pageTitle | default: "Welcome!" }}</h1>
  </header>
  <main>
    {% for file in dailyNotes reversed %}
      {% assign link = file | slice: 0, -3 %}
      {% render './partials/cards/blog-post.liquid'
        , title: link
        , link: link %}
    {% endfor %}
  </main>
{% endblock %}