{% layout './layouts/layout.liquid' %}
{% block head %}
  <link rel="stylesheet" href="/assets/styling/general.css">
  <link rel="stylesheet" href="/assets/styling/journal.css">
{% endblock %}

{% block %}
  <header>
    <h1 class="main-heading huge">{{ frontmatter.title | default: "Learning journal!" }}</h1>
  </header>
  <main>{{ note }}</main>
{% endblock %}