{% render './partials/head.liquid', styles: styles, scripts: scripts, bodyClass: "huge" %}
<a class="back-to-home" href="/">
  back to home
</a>
<header>
  <h1 class="main-heading huge">PORTFOLIO
    <span class="heading-label">LOG</span>
  </h1>
</header>
<main>
  {% for project in allProjects reversed %}
    <article class="card">
      <div class="description">
        <h2>{{project.title}}</h2>
        <p>{{project.description}}</p>
      </div>
    </article>
  {% endfor %}
</main>
<aside class="navigation">
  <nav><ul>
    <li><a href="/">ABOUT</a></li>
    <li><a href="/journal">JOURNAL</a></li>
  </ul></nav>
</aside>
<aside class="visuals">
  {% for project in allProjects reversed %}
    <article class="card">
      <div class="description">
        <h2>{{project.title}}</h2>
        <p>{{project.description}}</p>
      </div>
    </article>
  {% endfor %}
</aside>

{% render './partials/page-end.liquid' %}
