{% render './partials/head.liquid', styles: styles, scripts: scripts %}
<div class="overlay"></div>
<div class="container">
<h1 class="main-heading huge">PORTFOLIO
  <span class="heading-label">EXPERIENCE</span>
</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<a href="/">home</a>
</div>
{% render './partials/page-end.liquid' %}