{% layout './layouts/layout.liquid' %}
{% block head %}
  <link rel="stylesheet" href="/assets/styling/project.css">
{% endblock %}
{% block %}
  <h1 class="huge">{{ project.title }}</h1>
{% endblock %}