@media (prefers-reduced-motion: reduce) {
  *,
  * *,
  *::after,
  *::before {
    transition: unset !important;
    animation: unset !important;
  }
  .seeker {
    display: none !important;
  }
}

html{
  scroll-behavior: smooth;
}

/* because you can't unset this... */
@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}

@font-face {
  font-family: Cabin;
  src: url(../fonts/Cabin.ttf);
}

@font-face {
  font-family: Archivo;
  src: url(../fonts/Archivo.ttf);
}

@font-face {
  font-family: Martian;
  src: url(../fonts/MartianMono.ttf);
}

@font-face {
  font-family: Sour;
  src: url(../fonts/SourGummy.ttf);
}

@font-face {
  font-family: Space;
  src: url(../fonts/SpaceMono-Bold.ttf);
}

@font-face {
  font-family: Tauri;
  src: url(../fonts/Tauri-Regular.ttf);
}

/* MARK: CSS reset 
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 1rem;
}

html,
body {
  height: 100%;
  position: relative;
}

*:focus-visible, details:focus-within{
  outline: dashed .25rem var(--accent);
}

li {
  list-style-type: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* MARK: Theme
 */

body {
  /* Backburner transitions */
  --brutal-transition: cubic-bezier(0.7, 0, 0.3, 1);
  
  /* Theme */
  --black: #140905;
  --white: #faf1da;
  --primary: #2f150b;
  --secondary: #dcb62e;
  --tertiary: #fadb84;
  --accent: #74f997;

  /* font */
  --primary-font: Space, "Courier New", Courier;
  --secondary-font: Martian, Consolas, Menlo;
  --XXL: 11.625rem;
  --XL: 5rem;
  --LG: 3.25rem;
  --MD: 2.25rem;
  --SM: 1.5rem;
  --XS: 1rem;

  --em: clamp(calc(var(--XL) - .5rem), 9vw, var(--XXL));

  /* Styling */
  background: var(--tertiary);
  color: var(--black);
  font-family: Martian;
}

/* MARK: Font sizes
 */
.huge {
  font-size: clamp(calc(var(--XL) - .5rem), 8.5vw, var(--XXL));
}

.icon {
  z-index: 2;
  display: inline-block;
  font-family: Archivo, Arial, Helvetica, sans-serif;
  font-size: clamp(var(--MD), 5vw, var(--XL));
}

.semi-bold {
  font-weight: 600;
}

.bg-brown {
  background: var(--primary);
  color: var(--tertiary);
}

.bg-black {
  background: var(--black);
  color: var(--tertiary);
}

.bg-yellow {
  background: var(--tertiary);
}

.bg-mint {
  background: var(--accent);
}

/* MARK: General utils
 */
.aside-heading,
.main-heading {
  position: relative;
  line-height: 1;
  width: fit-content;
}
.active{
  background: var(--tertiary);
  color: var(--primary);
}
.main-heading {
  color: var(--primary);
  font-family: Space, sans-serif;
  text-align: center;
}

.heading-label {
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  top: calc(36% - 1em);
  font-family: Tauri;
  font-size: clamp(var(--XS), 2vw, var(--MD));
  right: clamp(-2rem, -3vw, -1rem);
}

/* MARK: Selections
 */

::selection {
  color: var(--black);
  background: var(--accent);
}

/* in case of overlap */
.heading-label::selection,
footer *::selection,
.highlight-block::selection,
.highlight-block span::selection,
.anti-highlight-block::selection {
  color: var(--accent);
  background: var(--black);
}

/* MARK: Transitioning
 */

:root::view-transition {
  pointer-events: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* MARK: Slices
  */

.slice {
  position: fixed;
  height: 33.33vh;
  width: 100%;
  top: calc(100vh - (33.33vh * var(--slice)));
  left: 0;
  background: rgba(255, 166, 0, 0.425);
  z-index: 100;
  pointer-events: none;
  transform: translateX(-100%);
  transition: 2s ease;
}