@font-face {
  font-family: Cabin;
  src: url(../fonts/Cabin.ttf);
}

@font-face {
  font-family: Archivo;
  src: url(../fonts/Archivo.ttf);
}

@font-face {
  font-family: Martian;
  src: url(../fonts/MartianMono.ttf);
}

@font-face {
  font-family: Sour;
  src: url(../fonts/SourGummy.ttf);
}

@font-face {
  font-family: Space;
  src: url(../fonts/SpaceMono-Bold.ttf);
}

@font-face {
  font-family: Tauri;
  src: url(../fonts/Tauri-Regular.ttf);
}

/* MARK: CSS reset 
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 1rem;
}

html,
body {
  min-height: 100vh;
}

li{
  list-style-type: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* MARK: Theme
 */

body {
  /* Theme */
  --black: #140905;
  --white: #faf1da;
  --primary: #2f150b;
  --secondary: #dcb62e;
  --tertiary: #fadb84;
  --accent: #74f997;

  /* font */
  --XXL: 11.625rem;
  --XL: 5rem;
  --LG: 3.25rem;
  --MD: 2.25rem;
  --SM: 1.5rem;
  --XS: 1rem;

  /* Styling */
  background: var(--tertiary);
  color: var(--black);
  font-family: Archivo;
}

/* MARK: Font sizes
 */
.huge{
  font-size: clamp(var(--XL), 12vw, var(--XXL));
}

.sub-text {
  font-family: Sour;
  font-size: 1rem;
}

.icon {
  display: inline-block;
  font-family: Archivo, Arial, Helvetica, sans-serif;
  font-size: 5rem;
}

::selection {
  color: var(--black);
  background: var(--accent);
}

.bg-brown {
  background: var(--primary);
  color: var(--tertiary);
}
.bg-black {
  background: var(--black);
  color: var(--tertiary);
}
.bg-yellow {
  background: var(--tertiary);
}
.bg-mint {
  background: var(--accent);
}
