/* MARK: GRID
 */
body {
  margin: 0;
  display: grid;
    grid-template-columns: 5fr 7fr;
    grid-template-rows: 1fr minmax(9rem, 12.5rem);
  @media (max-width: 969px) {
    display: block;
  }
  width: 100%;
  transition: grid-template 0.4s ease;
}

main {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
}

aside {
  grid-column: 1;
  grid-row: 1;
  @media (max-width: 969px){
    min-height: 12.5rem;
  }
}

footer {
  grid-row: 2;
  grid-column: 2;
  background: var(--accent);
  @media (max-width: 969px){
    min-height: 12.5rem;
  }
}

nav {
  grid-column: 1;
  grid-row: 2;
}

@media (prefers-reduced-motion: no-preference) {
  body:has(main:focus-within) {
    grid-template-columns: 4.75fr 7fr;
    grid-template-rows: 1fr minmax(8.5rem, 11.5rem);
  }
  
  body:has(footer:focus-within) {
    grid-template-columns: 4.75fr 7fr;
    grid-template-rows: 1fr minmax(10.5rem, 13.5rem);
  }
  
  body:has(aside:focus-within) {
    grid-template-columns: 5fr 6.75fr;
    grid-template-rows: 1fr minmax(8.5rem, 11.5rem);
  }
  
  body:has(.footer-nav:focus-within) {
    grid-template-columns: 5fr 6.75fr;
    grid-template-rows: 1fr minmax(10.5rem, 13.5rem);
  }
  /* check if device supports hover */
  @media (hover: hover) {
    body:has(main:hover) {
      grid-template-columns: 4.75fr 7fr;
      grid-template-rows: 1fr minmax(8.5rem, 11.5rem);
    }
    
    body:has(footer:hover) {
      grid-template-columns: 4.75fr 7fr;
      grid-template-rows: 1fr minmax(10.5rem, 13.5rem);
    }
    
    body:has(aside:hover) {
      grid-template-columns: 5fr 6.75fr;
      grid-template-rows: 1fr minmax(8.5rem, 11.5rem);
    }
    
    body:has(.footer-nav:hover) {
      grid-template-columns: 5fr 6.75fr;
      grid-template-rows: 1fr minmax(10.5rem, 13.5rem);
    }
    
  }
}

header {
  display: flex;
  padding: 0 var(--MD);
  justify-content: flex-start;
}

/* MARK: MAIN (top right) 
*/

main article {
  overflow: hidden;
  padding: var(--MD);
  font-size: clamp(var(--SM), calc(2vw - 15%), var(--MD));
  font-family: Martian;
  position: relative;
  height: 100%;
}

main article * {
  z-index: 2;
  position: relative;
}

main article img {
  transition: width .9s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: absolute;
  left: calc(var(--MD) * 2);
  bottom: calc(var(--MD) * 2);
  border: .25rem solid var(--primary);
  width: calc(55% - 0.125rem);
  height: calc(60% - 0.125rem);
  object-position: 0 25%;
  @media screen and (max-width: 969px) {
    width: calc(50% - (var(--MD) * 2));
    height: calc(100% - (var(--MD) * 2));
    left: var(--MD);
    bottom: var(--MD);
    object-position: 30% 25%;
    left: unset;
    right: calc(0px + var(--MD));
  }
  @media screen and (max-width: 560px){
    width: 75%;
  }
  object-fit: cover;
  opacity: 0;
  z-index: 1;
  /* default animation */
  animation: reveal-me 0.5s calc(0.75s * var(--reveal)) ease-out forwards;
}

main article img[data-moshable="enhanced"] {
  animation: unset;
  opacity: 1;
}

main article h2 span {
  z-index: 2;
}

@keyframes reveal-me {
  to {
    opacity: 0.4;
  }
}

main article * {
  font-size: inherit;
}

main summary {
  display: inline;
}

main p,
main span,
main h2 {
  color: inherit;
}
main h2 {
  display: inline-block;
}
main article p {
  overflow: hidden;
  width: fit-content;
}

main article p.special-case,
main article p.exclude {
  display: inline-flex;
}

main article p.anti-highlight-block > span:first-child {
  padding-right: 0.5ch;
}

/* ! rotate? */
main article p > span {
  display: inline-block;
  transform: translateY(-110%);
  animation: txt-reveal 0.5s 0.5s ease forwards;
}

main article div.anti::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--black);
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: translateY(-110%);
  animation: txt-reveal 0.5s 0.5s ease forwards;
}

main article p.exclude > span {
  transform: translateY(-110%);
  animation: txt-reveal 0.3s calc(0.75s * (var(--order))) ease forwards;
}

@supports (--test: test) {
  main article p > span {
    animation: txt-reveal 0.3s calc(0.75s * (var(--order))) ease forwards;
  }

  main article div.anti::after {
    animation: txt-reveal 0.3s calc(0.75s * (var(--order))) ease forwards;
  }

  @keyframes txt-reveal {
    to {
      transform: translateY(0);
    }
  }
}

@keyframes txt-reveal {
  to {
    transform: translateY(0);
  }
}

main article h2 + p,
article > p + p,
p + div,
article > div + div {
  margin-top: 0.375rem;
}

main div.anti {
  overflow: hidden;
  position: relative;
  width: fit-content;
}

article div p + article div p {
  margin-top: 0.375rem;
}

/* MARK: ASIDE (top left) 
*/

aside {
  padding: 0 var(--MD);
  display: flex;
  flex-direction: column;
  border-right: .25rem solid var(--black);
  @media (max-width: 969px) {
    border-top: var(--black) .25rem solid;
    border-right: unset;
  }
}

aside h3 {
  font-size: var(--MD);
  font-weight: 700;
}

aside .details {
  padding-top: var(--MD);
}

aside ul {
  list-style-position: inside;
}

aside ul + h3 {
  margin-top: var(--MD);
}

aside li::marker {
  content: "⤷ ";
  color: var(--tertiary);
  font-family: Martian;
  font-size: var(--MD);
}

aside li {
  font-family: Space;
  color: var(--accent);
  font-weight: 700;
  font-size: clamp(var(--SM), 2vw, var(--LG));
}

nav li::marker {
  content: "";
}

aside nav ul {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

 li a{
  text-decoration: underline;
}

/* MARK: NAV (bottom left)
 */
.footer-nav,
.footer-nav ul {
  display: flex;
  align-items: center;
  /* reverse for h3 placement */
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.footer-nav ul {
  width: 90%;
  font-size: clamp(var(--SM), 3vw, var(--MD));
  font-family: Space;
  /* undo the reverse */
  flex-direction: row;
  justify-content: space-between;
  padding: 2.25rem;
}

.footer-nav ul, aside nav ul {
  gap: 0.75rem;
  @media (max-width: 550px){
    flex-direction: column;
    align-items: start;
  }
}

.footer-nav h2 {
  font-family: Martian;
  font-size: var(--SM);
  color: var(--accent);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding: 1rem 0.875rem;
}

/* MARK: FOOTER (bottom right)
 */
footer {
  padding: 0.75rem 2.25rem;
  position: relative;
  border-top: .25rem solid var(--black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer h2 {
  font-family: Martian;
  font-size: var(--MD);
}

footer .icon {
  top: 0;
  right: 0;
  transform: translateY(-100%);
  background: var(--accent);
  border: .25rem solid var(--black);
  border-bottom: 0;
  border-right: 0;
  position: absolute;
  @media (max-width: 969px){
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    border: unset;
  }
}
footer details {
  align-self: end;
  position: relative;
}
footer details .details-content {
  position: absolute;
  /* top 0 and translateY to position based on content instead of parent height */
  top: 0;
  transform: translateY(calc(-100% - 1rem));
  font-size: 20rem;
  right: 0;
  width: 250px;
  /* left: 0; */
}

footer details .details-content p{
  font-size: 1.5rem;
  font-weight: 700;
}

footer details .details-content p span a{
  font-weight: 400;
}

footer summary,
main summary {
  display: inline;
  cursor: pointer;
}

/* MARK: small utils 
 */
.underlined {
  text-decoration: underline;
}

/* deliberate delay in animation */
.highlight-block:not(:focus) {
  background: var(--accent);
  color: var(--black);
  transition-delay: 0.3s;
}

.anti-highlight-block {
  background: var(--black);
  color: var(--tertiary);
  /* display: block; */
  /* width: fit-content; */
}

@supports selector(::after) {
  .anti-highlight-block {
    background: unset;
  }

  main article div.anti::after {
    transform: translateX(-110%);
    animation-duration: 0.65s;
  }

  main article p.exclude > span {
    transform: unset;
    animation: unset;
  }
}

.sentence {
  white-space: nowrap;
  display: inline-block;
}

/* .highlight-block:hover {
  background: transparent;
  color: var(--tertiary);
  transition: 0s ease;
} */

/* MARK: Mousemove Blob
*/

div.seeker {
  view-transition-name: seeker;
  /* size to go to */
  --custom-width: 10px;
  --custom-height: 10px;
  height: 0.625rem;
  width: 0.625rem;
  background-color: var(--accent);
  mix-blend-mode: difference;
  pointer-events: none;
  position: fixed;
  z-index: 10;
  border-radius: 0.125rem;
  transform-origin: center;
  transition:
    width 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
    height 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
    border-radius 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  /* transition: 0.15s cubic-bezier(.47,1.64,.41,.8); */
}

.seeker.hovering {
  width: var(--custom-width);
  height: var(--custom-height);
  mix-blend-mode: normal;
  transition:
    width 0.6s cubic-bezier(0.075, 0.82, 0.065, 1),
    height 0.6s cubic-bezier(0.075, 0.82, 0.065, 1),
    border-radius 0.6s cubic-bezier(0.075, 0.82, 0.065, 1);
}

.seeker span {
  opacity: 0;
  /* instantly reset transition */
  transition: 0s;
}

.seeker.hovering span {
  font-size: var(--LG);
  font-family: Space;
  font-weight: 700;
  transition: opacity 0.2s 0.2s ease;
  display: inline-block;
  opacity: 1;
}
.seeker.gone {
  height: 0px;
}
