@property --scroll-position {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
@property --scroll-position-delayed {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
@property --skew {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

:root {
  animation: adjust_position linear both;
  animation-timeline: scroll(root);
}

html {
  height: fit-content;
}

body {
  transition: --scroll-position-delayed 0.15s linear;
  --scroll-velocity: calc(
    var(--scroll-position) - var(--scroll-position-delayed)
  );
  --scroll-speed: abs(var(--scroll-velocity));
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;

  header h1 {
    margin-bottom: clamp(1rem, 3vw, 2rem);
  }

  .filtering {
    position: sticky;
    z-index: 1;
    top: 0;
    background: var(--primary);
    display: block;
    color: var(--tertiary);
    font-size: clamp(var(--SM), 4vw, var(--MD));
    padding: 0.4375rem 0.875rem;
    h2,
    h2 span {
      font-size: inherit;
    }

    h2 span {
      color: var(--accent);
    }

    h2 {
      margin-bottom: 0.4375rem;
    }
  }

  ul.block-list {
    --global-grid-gap: 2.25rem;
    --global-columns-repeat: 4;

    background: var(--secondary);
    display: grid;

    @media (min-width: 940px) {
      --global-columns-repeat: 12;
    }

    grid-template-columns: repeat(var(--global-columns-repeat), 1fr);
    column-gap: var(--global-grid-gap);
    row-gap: 4rem;
    /* overflow-y: auto; */
    padding: var(--global-grid-gap) 0.875rem;

    color: var(--tertiary);

    > li {
      content-visibility: auto;
      display: inherit;
      grid-template-columns: inherit;
      column-gap: inherit;
      grid-column: 1 / -1;
      font-size: clamp(var(--MD), 3vw, var(--XL));

      &:has(a:hover) ul.description-list li, ul.description-list li:hover {
        transform: translateY(0.4375rem);
        background: var(--tertiary);
      }

      ul.description-list {
        grid-column: inherit;
        display: flex;
        column-gap: clamp(0.125rem, 1vw, 0.875rem);
        overflow: hidden;
        overflow: clip;

        li {
          transition: transform 0.2s calc(0.05s * var(--stagger))
            var(--brutal-transition);
          padding: 0.25rem 0.75rem;
          background: var(--accent);
          color: var(--secondary);

          will-change: transform;

          > * {
            display: block;
            color: inherit;
            text-transform: uppercase;
          }

          span:first-child {
            font-size: clamp(var(--XXS), 3vw, var(--SM));
            font-weight: 200;
          }

          span:last-child {
            font-size: clamp(var(--XXS), 4vw, var(--MD));
            font-weight: 500;
            overflow: hidden;
            overflow: clip;
            line-height: clamp(
              calc(var(--XXS) * 1.15),
              5vw,
              calc(var(--MD) * 1.4)
            );
          }
        }
      }

      a {
        --h3-size: calc(1em * 1.4);
        --h3-length: 0;
        --padding: 0.875rem;
        --border-width: 0.125rem;

        position: relative;
        border: var(--border-width) solid var(--accent);
        display: inherit;
        column-gap: inherit;
        row-gap: 0.5rem;
        grid-column: inherit;
        grid-template-columns: subgrid;
        font-size: inherit;

        &:hover {
          color: var(--secondary);
          background-color: var(--accent);
          border-color: var(--tertiary);
        }
        &:active {
          background-color: var(--tertiary);
        }

        > * {
          padding: var(--padding);
        }

        &::before,
        &::after {
          content: "";
          font-size: inherit;
          position: absolute;
          /* default is left */
          left: calc(var(--border-width) * -1);
          width: var(--border-width);
          height: calc(100% - (var(--h3-size) * 2) - calc(var(--padding) * 2));
          top: calc(var(--h3-size) + var(--padding));
          background: var(--secondary);
        }

        &::after {
          /* but here we want right so we unset left! */
          left: unset;
          right: calc(var(--border-width) * -1);
          top: calc(var(--border-width) * -1);
        }

        @media (min-width: 58.75rem) {
          --padding: 1.3125rem;
          row-gap: unset;

          &::before,
          &::after {
            display: none;
          }

          @supports (corner-shape: bevel) {
            corner-shape: superellipse(-10);

            /* h3 font-size + h3 line height */
            border-bottom-left-radius: calc(var(--padding) + var(--h3-length))
              var(--h3-size);
            > * {
              padding-bottom: calc(var(--padding) + var(--h3-size));
              /* padding-top: 2.25rem; */
            }
          }
        }

        article {
          display: inherit;
          grid-template-rows: auto 1fr;
          grid-template-columns: subgrid;
          column-gap: inherit;
          row-gap: 0.4375rem;
          grid-column: 1 / -1;

          /* inheritfrom a */
          font-size: inherit;

          @media (min-width: 58.75rem) {
            row-gap: 0.875rem;
            grid-column: span 6;
          }
          h3 {
            grid-column: 1 / -1;
            line-height: 1.4;
            display: inline-block;
            overflow: hidden;
            margin-left: -0.15em;
            text-align: end;

            /* since we split the text */
            display: flex;
            flex-wrap: wrap;
            /* literal space */

            /* inherit from article */
            font-size: inherit;

            > .word-space {
              width: 0.4ch;
            }

            > span.word {
              display: inline-flex;
            }

            > span:last-child {
              display: inline-block;
              height: 1em;
              margin-left: 0.5rem;
              svg {
                height: 100%;
                width: fit-content;
              }
            }
          }
          p {
            grid-column: 1 / -1;
            @media (min-width: 58.75rem) {
              grid-column: span 5;
            }
            max-width: 50ch;
            font-size: clamp(var(--XXS), 2vw, var(--MD));
            font-weight: 300;
          }
        }

        picture {
          grid-column: 1 / -1;
          height: auto;
          width: 100%;
          @media (min-width: 58.75rem) {
            grid-column: 7 / -1;
          }

          @media (min-width: 75rem) {
            grid-column: 8 / -1;
          }

          img {
            height: 100%;
            object-fit: contain;
            width: inherit;
          }
        }
      }
    }
  }
  footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: clamp(var(--XS), 3vw, var(--MD));
    z-index: 1;
    background: var(--accent);
  }
}

/* Icons */


/* Animations */

@media (prefers-reduced-motion: no-preference) {
  [data-triggered="ready"] {
    .split-text .word > span {
      transform: translateY(100%) rotate(7deg);
    }
  }
  [data-triggered="true"] {
    .split-text .word > span {
      transform: translateY(100%) rotate(7deg);
      position: relative;
      animation: split-text--slide-up 0.8s calc((var(--stagger)) * 0.045s)
        var(--brutal-transition) forwards;
    }
  }
}

@keyframes split-text--slide-up {
  25% {
    transform: translateY(-10%) rotate(-2deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes adjust_position {
  to {
    --scroll-position: 1;
    --scroll-position-delayed: 1;
  }
}

@keyframes slideIn {
  100% {
    transform: translateX(0%);
  }
}
