.header {
  &:first-of-type {
    padding-bottom: var(--MD);
  }
}

.blog-list {
  position: relative;
  z-index: 1;

  .list-item {
    display: block;
    background-color: var(--accent);
    color: var(--secondary);
    &:nth-child(odd) {
      background-color: var(--secondary);
      color: var(--tertiary);
    }
  }
}
