main.huge {
  --gap: 24px;
  --cols: 14;
  --col-width: calc((100% - (var(--cols) - 1) * var(--gap)) / var(--cols));
  --aside-cols: 4;

  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: 0 var(--gap);
  header {
    grid-column: 2 / -2;
    text-align: left;
    @media (min-width: 969px) {
      grid-column: 5 / -2;
    }
  }
  h1 {
    display: flex;
    flex-direction: column;

    span {
      position: relative;
      z-index: -1;
    }
  }

  section {
    padding-block: var(--LG);
    --tab-bg: var(--secondary);
    --tab-color: var(--accent);
    --tab-selected-bg: var(--accent);
    --tab-selected-color: var(--secondary);
    --border: var(--accent);
    --background: var(--secondary);

    @media (min-width: 969px) {
      padding-block-end: var(--XL);
    }

    > * + * {
      margin-block-start: 0.5rem;
    }

    > p + .CodeBlock,
    > p + .PackageTab {
      margin-block-start: 0.875rem;
    }

    > .CodeBlock + .CodeBlock,
    > .PackageTab + .PackageTab {
      margin-block-start: 0;
    }

    > .CodeBlock + p,
    > .PackageTab + p {
      margin-block-start: var(--XXS);
    }

    > h2 + * {
      margin-block-start: 0.375rem;
    }

    &:nth-child(odd) {
      --tab-bg: var(--tertiary); /* or whatever you need */
      --tab-color: var(--secondary);
      --tab-selected-bg: var(--primary);
      --tab-selected-color: var(--tertiary);
      --border: var(--secondary);
      --background: var(--primary);
      --bg-hover: var(--secondary);

      background: var(--accent);
      position: relative;

      ::selection {
        color: var(--accent);
        background: var(--secondary);
      }

      h2::selection {
        background: var(--accent);
        color: var(--secondary);
      }

      &::before {
        z-index: -1;
        content: "";
        position: absolute;
        inset-block: 0;
        inset-inline: 50%;
        transform: translateX(-50%);
        width: 100vw;
        background-color: inherit;
        pointer-events: none;
      }

      @media (min-width: 969px) {
        margin-left: calc(-1 * var(--gap));
        padding-left: var(--gap);
      }
    }
  }

  h2 {
    font-size: var(--MD);
    display: inline-block;
    background: var(--primary);
    color: var(--tertiary);
    padding: 0.375rem 0.75rem;
  }

  p {
    font-size: var(--XS);
    max-width: 65ch;
    line-height: 1.5;
    text-wrap: balance;
    text-wrap: pretty;
  }

  .code {
    background: var(--secondary);
    color: var(--accent);
    font-size: var(--XXS);
    padding-inline: 0.25rem;
  }

  article {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    overflow-x: hidden;
    overflow-x: clip;
    z-index: 2;

    @media (min-width: 969px) {
      grid-column: 4 / -1;
    }

    > * {
      grid-column: 2 / -2;
    }
  }

  aside {
    grid-column: 1 / calc(var(--aside-cols) + 1);
    grid-row: 1;
    height: 0px;
    display: none;
    position: sticky;
    top: 0;

    @supports (scroll-target-group: auto) {
      @media (min-width: 969px) {
        display: block;
      }
    }

    > nav {
      scroll-target-group: auto;
      width: 100%;
      height: 100svh;
      background: var(--primary);

      ol.TOC {
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        li {
          font-size: var(--SM);
          a {
            color: var(--accent);
            transform-origin: top left;
            display: block;
            &::before,
            &::after {
              content: "";
              height: 0px;
              width: 1px;
              display: inherit;
              transition: height 0.3s
                linear(
                  0,
                  0.375 7%,
                  0.662 14.5%,
                  0.867 22.6%,
                  0.942 27%,
                  0.998 31.6%,
                  1.053 39.5%,
                  1.071 48.8%,
                  1.062 57%,
                  1.01 81.7%,
                  1
                );
            }
            transition:
              0.2s
                linear(
                  0,
                  0.375 7%,
                  0.662 14.5%,
                  0.867 22.6%,
                  0.942 27%,
                  0.998 31.6%,
                  1.053 39.5%,
                  1.071 48.8%,
                  1.062 57%,
                  1.01 81.7%,
                  1
                )
                scale,
              0.3s ease opacity;
          }
        }

        &:has(a:target-current) {
          li a {
            opacity: 0.5;
            scale: 0.8;

            &:target-current {
              scale: 1;
              opacity: 1;

              &::before,
              &::after {
                content: "";
                height: 20px;
                width: 1px;
              }
            }
          }

          li:has(a:target-current) ~ li a {
            opacity: 0.3;
            scale: 0.8;
          }
        }
      }
    }
  }
}
