@scope (.CopyButton) {
  :scope {
    margin-left: auto;
    line-height: 0;
    background: transparent;
    outline: transparent;
    border: none;
    color: inherit;
    cursor: copy;
    width: 24px;
    transition: color 0.3s var(--brutal-transition);
    transition:
      rotate 2s var(--brutal-transition),
      scale 1.2s var(--brutal-transition);

    aspect-ratio: 1/1;
    visibility: hidden;
    pointer-events: none;

    &.render {
      visibility: visible;
      pointer-events: initial;
    }
  }
}
